<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <mat-icon
    routerLink="../shopping-cart"
    matBadge="{{cartItems.length}}" matBadgeColor="primary"
    matBadgePosition="above"
    matBadgeSize="small">shopping_cart
  </mat-icon>
</mat-toolbar>
<div class="container">
  <div>
    <div class="grid-container">
      <mat-card class="product-card" *ngFor="let item of items">
        <mat-card-header>
          <div mat-card-avatar class="header-image" mat-ripple>
            <mat-icon (click)="addToCart(item);" class="cart">add_shopping_cart</mat-icon>
          </div>
          <mat-card-title>{{item.itemName}}</mat-card-title>
          <mat-card-subtitle>{{item.price}}:-</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image class="grid-img"
             src='{{item.imageUrl}}'
             alt="Product Image">

      </mat-card>
    </div>

  </div>

</div>
