<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <mat-icon style="clip-path: circle()" routerLink="../shopping-cart">shopping_cart</mat-icon>
</mat-toolbar>
<div class="container">
  <div>
    <div class="grid-container">
      <mat-card class="product-card" *ngFor="let product of products">
        <mat-card-header>
          <div mat-card-avatar class="header-image" mat-ripple>
            <mat-icon (click)="addToCart(product.id);" class="cart">add_shopping_cart</mat-icon>
          </div>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.price}}:-</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image class="grid-img"
             src='{{product.imgUrl}}'
             alt="Product Image">

      </mat-card>
    </div>

  </div>

</div>
