<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <button (click)="navigateToProfileEditor()"
    mat-icon-button >
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>
<div class="container">

  <label class="image-chooser">
    <input id="image-input" type="file" accept="image/*" (change)="chooseImage($event)">
    <img class="profile-photo" alt="profile photo" src="{{this.imageSrc}}">
  </label>
  <h1 style="margin-top: 1em" routerLink="../seller-profile-editor" matRipple>{{name}}</h1>

  <mat-list role="list">
    <mat-list-item mat-ripple role="listitem"
                   routerLink="../seller-profile-editor"
                   matRipple>
      {{email}}
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item mat-ripple role="listitem" routerLink="../seller-my-products">
      Mina frallor
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item mat-ripple role="listitem" routerLink="../seller-week-orders">
      Beställningar
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item mat-ripple role="listitem" routerLink="../seller-days-selection">
      Mina dagar
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item mat-ripple role="listitem">Mitt område</mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item mat-ripple role="listitem" (click)="onChooseBakery()">
      Mitt bageri - {{bakery.name}}
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item mat-ripple role="listitem"
                   routerLink="../seller-profile-editor"
                   matRipple>
      {{mobile}}
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <button mat-button class="text-button" routerLink="/update-password">
    ÄNDRA LÖSENORD
  </button>

  <button (click)="logout()"
    mat-button color="warn" id="logout-button">
    LOGGA UT
  </button>

</div>
