<div class="container">
  <div class="form-container">

    <mat-form-field appearance="fill">
      <mat-label>Epost</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Namn</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mobilnummer</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <button mat-button class="text-button" style="margin: 16px 0 16px 0" >
      VÄLJ BAGERI
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Län</mat-label>
      <mat-select>
        <mat-option value="option">Skåne</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Stad</mat-label>
      <mat-select>
        <mat-option value="option">Höganäs</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button class="text-button" style="margin: 16px 0 16px 0">
      VÄLJ OMRÅDE
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Lösenord</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Bekräfta lösenord</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <button mat-raised-button color="accent" style="margin-top: 16px">
      SKAPA
    </button>

  </div>

</div>
