<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
    <div class="grid-container">
        <mat-card mat-ripple>
          <div class="img-container">
            <img mat-card-image class="grid-img"
                 src="assets/img/profile-photo-placeholder.png"
                 alt="product-image-placeholder">
          </div>
          <mat-card-content>
            God fralla<br>
            10:-
          </mat-card-content>
        </mat-card>
      <mat-card mat-ripple>
        <div class="img-container">
          <img mat-card-image class="grid-img"
               src="assets/img/profile-photo-placeholder.png"
               alt="product-image-placeholder">
        </div>
        <mat-card-content>
          God fralla<br>
          10:-
        </mat-card-content>
      </mat-card>


    </div>
  <button class="fab" mat-fab color="accent" routerLink="/editor">+</button>

</div>
