.toolbar {
  cursor: default;
  position: sticky;
}

.back-icon {
  margin-right: 16px;
}

.container {
  padding: 16px 16px 0 16px;
  margin-bottom: 20%;
  height: 100%;
}

.form-container {
  margin: 16px;
  display: grid;
  grid-gap: 2em;
}

.form-field {
  width: 100%;
}

.text-button {
  color: #c79100;
}

.header {
  margin: 2em 0 2em 0;
  text-align: center;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  bottom: 5em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.5fr));
  grid-gap: 1em;
}
mat-card {
  display: grid;
  padding: 0;
}

.img-container {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.grid-img {
  object-fit: cover;
  width: 100%;
  padding: 0;
  margin: 0;
}

mat-card-content {
  padding: 1em;
}

.fab {
  position: sticky;
  bottom: 4em;
  margin-right: 1em;
  justify-self: end;
  color: white;
  font-size: large;
}

@media (min-width: 1150px) {

  .container {
    padding: 16px 25% 0 25%;
    margin-bottom: 20%;
  }


  .toolbar {
    padding: 0 25% 0 25%;
  }

  .form-container {
    width: 50%;
    padding: 0 25% 0 25%;
    margin: 1em 0 0 0;
  }

  .buttons-container {
    width: 50%;
    padding: 0 25% 0 25%;
  }
}

