.container {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1em;
  }

}

.header-image {
  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}
.cart {
  cursor: auto;
  user-select: none;
}

