<mat-toolbar class="toolbar">
  <span class="spacer"></span>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
  <h1 class="header">Tack för din beställning</h1>
  <h1 class="subheader">Skapa konto för lättare beställning</h1>

  <div class="form-container">

    <button mat-raised-button routerLink="../buyer-signup" color="accent">
      SKAPA KONTO
    </button>

    <button routerLink="../sellers" routerLinkActive="active"
            mat-button class="text-button">
      KÖP FLER
    </button>
  </div>
</div>
