<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<div class="container">
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Epost</mat-label>
      <input  [(ngModel)]='enteredEmail' matInput placeholder="{{buyer.email}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Namn</mat-label>
      <input  [(ngModel)]='enteredName' matInput placeholder="{{buyer.name}}">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mobilnummer</mat-label>
      <input  [(ngModel)]='enteredMobile' matInput placeholder=" {{buyer.mobile}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Stad</mat-label>
      <input  [(ngModel)]='enteredCity' matInput placeholder="{{buyer.city}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ort</mat-label>
      <input  [(ngModel)]='enteredStreet' matInput placeholder="{{buyer.street}}">
    </mat-form-field>

    <div class="buttons-container">

      <button routerLink="../buyer-profile" routerLinkActive="active" mat-button class="text-button">
        AVBRYT
      </button>
      <button (click)="changeBuyerInfo();"  mat-raised-button color="accent">
        BEKRÄFTA
      </button>

    </div>

  </div>
</div>
