<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">

  <div class="form-container">

    <mat-form-field hintLabel="Vad heter frallan?" appearance="fill">
      <mat-label>Namn</mat-label>
      <input matInput #input placeholder="Ex. Nougat">
    </mat-form-field>

    <mat-form-field hintLabel="Hur mycket vill du sälja den för?" appearance="fill">
      <mat-label>Pris</mat-label>
      <input matInput placeholder="Ex. Nougat">
    </mat-form-field>

    <img alt="product-placeholder" src="assets/img/product-placeholder.png"
    (click)="chooseImage()">

  </div>

</div>
<div class="buttons-container">
  <button mat-stroked-button color="accent" (click)="navigateBack()">
    AVBRYT
  </button>
  <button mat-raised-button color="accent" style="color: white"
  (click)="saveProduct()">
    SPARA
  </button>
</div>
