<router-outlet class="content"></router-outlet>

<div class="bottom-nav-bar">
  <a>
    <mat-icon matRipple class="nav-icon hover-effect" aria-hidden="false"
              routerLinkActive="active" routerLink="/events">
      list
    </mat-icon>
  </a>
  <a>
    <mat-icon matRipple class="nav-icon hover-effect" aria-hidden="false"
            routerLink="/forum" routerLinkActive="active">
    forum
    </mat-icon>
  </a>
    <a>
    <mat-icon class="nav-icon hover-effect" aria-hidden="false"
            matRipple routerLink="/groups" routerLinkActive="active">
    group
    </mat-icon>
    </a>

</div>
