<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">

  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Stad</mat-label>
      <input matInput placeholder="Helsigborg" [(ngModel)]='city'>
    </mat-form-field>

    <div class="buttons-container">
      <button class="text-button" mat-button (click)="findSellersByLocation()">
        HITTA AUTUMATISK
      </button>

      <button mat-raised-button color="accent" (click)="findSellersByCity();">
        SÖK
      </button>
    </div>

    <button mat-raised-button color="accent"
            routerLink="../buyer-login">
      TILL INLOGGNING
    </button>
  </div>

</div>
