<mat-toolbar class="toolbar" color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<div class="container">

  <h2 class="header">Välj dagar du kan leverera i</h2>
  <ejs-calendar weekNumber='true'
                [values]='dateValues' [isMultiSelection]='multiSelect'>
  </ejs-calendar>

  <div class="buttons-container">

    <button (click)="onCancel()"
            mat-button class="text-button">
      AVBRYT
    </button>
    <button (click)="onSave()"
            mat-raised-button color="accent">
      SPARA
    </button>

  </div>

</div>
