.toolbar {
  cursor: default;
  position: sticky;
}


.container {
  padding: 16px 16px 0 16px;
  margin-bottom: 20%;
}

.form-container {
  display: grid;
}

.text-button {
  color: #c79100;
  width: 100%;
  text-align: center;
  margin: 16px 0 8px 0;
}

#logout-button {
  width: 100%;
  text-align: center;
  margin: 8px 0 8px 0;

}

.profile-photo-container {
  width: 100%;
  text-align: center;
}


@media (min-width: 1150px) {

  .container {
    padding: 16px 16px 0 16px;
    margin: 0 20% 20% 20%;
  }

  .toolbar {
    padding: 0 25% 0 25%;
  }

  .form-container {
    width: 50%;
    padding: 0 25% 0 25%;
    margin: 1em 0 0 0;
  }

  .buttons-container {
    width: 50%;
    padding: 0 25% 0 25%;
  }
}

