<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <mat-icon mat-ripple class="back-icon" (click)="navigateBack()">
    arrow_back
  </mat-icon>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
  <div class="form-container">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder" value="{{name}}">
    </mat-form-field>

    <p>Address</p>
    <mat-form-field appearance="fill">
      <mat-label>Gata</mat-label>
      <input matInput placeholder="Placeholder" value="{{street}}">
    </mat-form-field>    <mat-form-field appearance="fill">

    <mat-label>Ort</mat-label>
    <input matInput placeholder="Placeholder" value="{{city}}">
  </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mobile</mat-label>
      <input matInput placeholder="Placeholder" value="{{number}}">
    </mat-form-field>

    <button  routerLink="../confirmation-no-login" mat-raised-button color="accent">
      BEKRÄFTA
    </button>
  </div>

</div>

