<mat-toolbar class="toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="navigateBack()">arrow_back</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<div class="container">

  <mat-list>
    <h3 matSubheader>Sammanfattning</h3>
    <mat-list-item *ngFor="let item of bakerySummaryItems">
      <img matListAvatar src="assets/img/profile-photo-placeholder.png" alt="...">
      <h3 matLine> {{item.name}} </h3>
      <span> {{item.count}} </span>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <h3 matSubheader>Detaljer</h3>
  <mat-list *ngFor="let entry of bakeryDetailsItemsMap | keyvalue">
    <h3 matSubheader>Beställning #{{entry.key}}</h3>
    <mat-list-item *ngFor="let item of entry.value">
      <h3 mat-line> {{item.name}} </h3>
      <span> {{item.count}} </span>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <button (click)="onSend()" color="accent" mat-raised-button>
    SKICKA
  </button>
</div>
