<mat-toolbar class="toolbar" color="primary">
  <span class="spacer"></span>
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container">
  <div>
    <div class="grid-container">
      <mat-card mat-ripple *ngFor="let product of products"
      (click)="onItemClick(product.id)">
        <div class="img-container">
          <img mat-card-image class="grid-img"
               src="{{product.imgUrl}}"
               alt="product-image-placeholder">
        </div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price}}:-</mat-card-subtitle>
      </mat-card>
    </div>

  </div>
  <button class="fab" mat-fab color="accent" routerLink="../product-editor">
    <mat-icon>add</mat-icon>
  </button>
</div>
