/* You can add global styles to this file, and also import other style files */
$P-Dark: #c79100;
$P-Light: #fff350;
$P-Primary: #ffc107;

.alert {
  border: 1px solid $P-Dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
