/* You can add global styles to this file, and also import other style files */
$P-Dark: #c79100;
$P-Light: #fff350;
$P-Primary: #ffc107;

.alert {
  border: 1px solid $P-Dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-list-item {
  cursor: pointer;
}

.toolbar-spacer {
  flex: 1 1 auto;

}

.back-icon {
  margin-right: 16px;
}

.container {
  padding: 16px 16px 0 16px;
  margin-bottom: 20%;
}


@media (min-width: 1150px) {

  .container {
    padding: 16px 25% 0 25%;
    margin-bottom: 20%;
  }


  .toolbar {
    padding: 0 25% 0 25%;
  }

  .form-container {
    width: 50%;
    padding: 0 25% 0 25%;
    margin: 1em 0 0 0;
  }

  .buttons-container {
    width: 50%;
    padding: 0 25% 0 25%;
  }
}

