@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
/* You can add global styles to this file, and also import other style files */
$P-Dark: #c79100;
$P-Light: #fff350;
$P-Primary: #ffc107;

.alert {
  border: 1px solid $P-Dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-toolbar.mat-primary {
  background-color: $P-Primary;
}

mat-list-item {
  cursor: pointer;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.back-icon {
  margin-right: 16px;
  align-self: center;
  clip-path: circle();
}

mat-icon {
  cursor: pointer;
}
.container {
  padding: 16px 16px 20% 16px;
  display: grid;
}

.habooleh {
  background: pink;
}

.form-container {
  display: grid;
  grid-gap: 2em;
}
.header {
  text-align: center;
}

.form-field {
  width: 100%;
}

.text-button {
  color: $P_Dark;
}
#logout-button {
  width: 100%;
  text-align: center;
  margin: 8px 0 8px 0;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.mat-expansion-panel-header-description {
  display: grid;
  justify-content: end;
}


@media (min-width: 1150px) {

  .container {
    padding: 16px 25% 20% 25%;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0 25% 0 25% !important;
  }
  .form-container {
    padding: 0 5em 0 5em;
  }


}

/*

@media (min-width: 850px) {
  .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    display: grid !important;
    justify-items: center;
  }
}
*/

