<router-outlet></router-outlet>
<div class="bottom-nav-bar">
  <a>
    <mat-icon matRipple class="nav-icon hover-effect" aria-hidden="false"
              routerLinkActive="active" routerLink="buyer-products">
      list
    </mat-icon>
  </a>
  <a>
    <mat-icon matRipple class="nav-icon hover-effect" aria-hidden="false"
              routerLink="buyer-profile" routerLinkActive="active">
      account_circle
    </mat-icon>
  </a>
  <a>
    <mat-icon class="nav-icon hover-effect" aria-hidden="false"
              matRipple routerLink="buyer-map" routerLinkActive="active">
      explore
    </mat-icon>
  </a>
</div>

