.container {
  height: 100%;

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-gap: 1em;
  }

  .fab {
    position: sticky;
    bottom: 4em;
    margin-right: 1em;
    justify-self: end;
    align-self: end;
    color: white;
    font-size: large;
  }
}





