.toolbar {
  cursor: default;
  position: sticky;
  background-color: #ffc107;
}

@media (min-width: 900px) {

  .container {
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2em;

  }

}
